/* css styles */

.MuiBox-root .mui-style-1yuhvjn{
    width: 100% !important;
}

body {
    background-image: url("data:image/svg+xml,%3Csvg id='visual' viewBox='0 0 900 600' width='900' height='600' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1'%3E%3Crect x='0' y='0' width='900' height='600' fill='%23FFFFFF'%3E%3C/rect%3E%3Cpath d='M0 313L450 387L900 300L900 601L450 601L0 601Z' fill='%23f8f7fd' stroke-linecap='square' stroke-linejoin='bevel'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    background-attachment: fixed;
}

.navbar{
    border: 0px;
    border-bottom: 1px;
    border-color: grey;
    padding: 0px;
}